# Crime Research Data Pipeline - Total Python Dependencies
# ==========================================================

# This file lists the Python packages required to run the Full Crime
# Research Data Pipeline Project. As has been expected for the final 
# product, there is a substantial amount of external library dependencies.

# Author: INST326 Crime Research Data Pipeline Project Team (Group 0203-SAV-ASMV)
# Course: INST326 - Object-Oriented Programming for Information Science
# Institution: University of Maryland, College Park
# Project: Capstone Integration & Testing (Project 4)

# CURRENT STATUS: Requires multiple external dependencies.

# ==========================================================
# LIST OF CURRENT CRIME RESEARCH DATA PIPELINE PROJECT DEPENDENCIES
# ==========================================================

# Below lists the current modules the Crime Research Data Pipeline 
# Project is dependent upon...

# 1. All initial modules required from Project 1 (i.e., pandas, datetime, sklearn modules, etc.)
# 2. uuid
# 3. numpy
# 4. ABC, abstractmethod
# 5. Enum
# 6. hashlib
# 7. shutil
# 8. time
